source https://www.nuget.org/api/v2

group Build
  source https://www.nuget.org/api/v2

  nuget LibLog 4.2.6 framework: net40
  nuget LiteGuard.Source framework: net40
  nuget Newtonsoft.Json 10.0.3 framework: net40
  nuget fake
  nuget Microsoft.DotNet.Analyzers.Compatibility

group Test
  framework: net45
  source https://www.nuget.org/api/v2

  nuget Shouldly
  nuget xunit 2.3.1
  nuget xunit.runner.console 2.3.1
