source https://www.nuget.org/api/v2

nuget LibLog framework: net40
nuget LiteGuard.Source framework: net40
nuget Newtonsoft.Json 7.0.1 framework: net40
nuget Shouldly framework: net45
nuget fake
nuget xunit 2.1.0 framework: net45
nuget xunit.runner.console 2.1.0